.quiz-questions-container {
  max-height: 60vh;
  overflow: scroll;
}

.answer-container {
  margin: 2px;
  padding: 0 5px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  width: fit-content;
  &.correct {
    background-color: rgb(208, 255, 239);
  }
  &.incorrect {
    background-color: rgb(255, 224, 224);
  }
}

.question-result-container {
  display: flex;
  align-items: center;
}

.stepper-container {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #f0f8ff;
  min-height: 90vh;
  max-height: 100vh;
  overflow: scroll;

}
