.ml {
    &-5 {
        margin-left: 5px;
    }
    &-20 {
        margin-left: 20px;
    }
}

.mt {
    &-5 {
        margin-top: 5px;
    }
    &-10 {
        margin-top: 10px;
    }
    &-20 {
        margin-top: 20px;
    }
}
